
#DATABASE (MongoDB)
DB_URI = mongodb://localhost:27017/troubletrack_db

#JWT
JWT_ACCESS_SECRET=da5e7b1b-3b7b-4b7b-8b7b-7b7b7b7b7b7b
JWT_ACCESS_EXPIRES_IN=60m
JWT_REFRESH_SECRET=sqlfdjl-3b7b-4b7b-8b7b-7b7b7b7b7b7b
JWT_REFRESH_EXPIRES_IN=30d 


#API PORT
PORT=3000